body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

form{
    display: flex;
    flex-flow: column nowrap;
    width: 350px;
    border: 1px solid black;
    background-color: white;
    padding: 16px;
    border-radius: 16px;
}

form h1{
    text-align: center;
    font-size: 28px;
}

form p{
    text-align: center;
    margin-top: -18px;
    font-size: 12px;
    margin-bottom: 24px;
}

form input{
    padding: 10px 15px;
    margin-bottom: 16px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

form input:focus{
    outline: none;
    border: 1px solid #111;
}

form label{
    font-size: 14px;
    font-weight: 500;
}

form button{
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background-color: #0063B6;
    color: white;
    transition: all 300ms ease-in-out;
}

form button:hover{
    cursor: pointer;
    background-color: #00509E;
}